# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json

# Production build
dist/
lib/
build/
*.tgz

# Coverage reports
coverage/

# Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
Readme.prompt.md